@import '../../style.scss';

.comment {
  display: flex;
  flex-direction: column;
  @extend %regular-text;
  margin-top: 16px;

  .comment__title {
    margin: 0 0 8px 0;
  }
  
  & textarea {
    font-family: $font-stack;
    height: 80px;
    padding: 14px;
    outline: none;
  }
  
  & textarea::placeholder {
    @extend %placheholder-text;
    text-align: initial;
  }
}